<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookingDAO</display-name>
  <welcome-file-list>
    <welcome-file>paginaInicio.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistroServlet</display-name>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.RegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilServlet</display-name>
    <servlet-name>PerfilServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.PerfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilServlet</servlet-name>
    <url-pattern>/PerfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPropertyServlet</display-name>
    <servlet-name>EditPropertyServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPropertyServlet</servlet-name>
    <url-pattern>/EditPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesionServlet</display-name>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CerrarSesionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <url-pattern>/CerrarSesionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuarioServlet</display-name>
    <servlet-name>EditarUsuarioServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuarioServlet</servlet-name>
    <url-pattern>/EditarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlojamientoServlet</display-name>
    <servlet-name>AlojamientoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.AlojamientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlojamientoServlet</servlet-name>
    <url-pattern>/AlojamientoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiltrarAlojamientoServlet</display-name>
    <servlet-name>FiltrarAlojamientoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.FiltrarAlojamientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltrarAlojamientoServlet</servlet-name>
    <url-pattern>/FiltrarAlojamientoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiltrarAlojamientosServlet</display-name>
    <servlet-name>FiltrarAlojamientosServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.FiltrarAlojamientosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltrarAlojamientosServlet</servlet-name>
    <url-pattern>/FiltrarAlojamientosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarAlojamientoServlet</display-name>
    <servlet-name>EditarAlojamientoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditarAlojamientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarAlojamientoServlet</servlet-name>
    <url-pattern>/EditarAlojamientoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerAlojamientoServlet</display-name>
    <servlet-name>VerAlojamientoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.VerAlojamientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerAlojamientoServlet</servlet-name>
    <url-pattern>/VerAlojamientoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoritosServlet</display-name>
    <servlet-name>FavoritosServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.FavoritosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoritosServlet</servlet-name>
    <url-pattern>/FavoritosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarFavoritoServlet</display-name>
    <servlet-name>EliminarFavoritoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EliminarFavoritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarFavoritoServlet</servlet-name>
    <url-pattern>/EliminarFavoritoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservaServlet</display-name>
    <servlet-name>ReservaServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ReservaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaServlet</servlet-name>
    <url-pattern>/ReservaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearAlojamientoServlet</display-name>
    <servlet-name>CrearAlojamientoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CrearAlojamientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearAlojamientoServlet</servlet-name>
    <url-pattern>/CrearAlojamientoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarAlojamientoServlet</display-name>
    <servlet-name>BorrarAlojamientoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.BorrarAlojamientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarAlojamientoServlet</servlet-name>
    <url-pattern>/BorrarAlojamientoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarPagoReservaServlet</display-name>
    <servlet-name>ConfirmarPagoReservaServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ConfirmarPagoReservaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarPagoReservaServlet</servlet-name>
    <url-pattern>/ConfirmarPagoReservaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservasUsuarioServlet</display-name>
    <servlet-name>ReservasUsuarioServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ReservasUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservasUsuarioServlet</servlet-name>
    <url-pattern>/ReservasUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscadorNombreServlet</display-name>
    <servlet-name>BuscadorNombreServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.BuscadorNombreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscadorNombreServlet</servlet-name>
    <url-pattern>/BuscadorNombreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarUsuarioServlet</display-name>
    <servlet-name>BorrarUsuarioServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.BorrarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarUsuarioServlet</servlet-name>
    <url-pattern>/BorrarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarHabitacionServlet</display-name>
    <servlet-name>EditarHabitacionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditarHabitacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarHabitacionServlet</servlet-name>
    <url-pattern>/EditarHabitacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearHabitacionServlet</display-name>
    <servlet-name>CrearHabitacionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CrearHabitacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearHabitacionServlet</servlet-name>
    <url-pattern>/CrearHabitacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarHabitacionServlet</display-name>
    <servlet-name>BorrarHabitacionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.BorrarHabitacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarHabitacionServlet</servlet-name>
    <url-pattern>/BorrarHabitacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DejarValoracionServlet</display-name>
    <servlet-name>DejarValoracionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DejarValoracionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DejarValoracionServlet</servlet-name>
    <url-pattern>/DejarValoracionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HabitacionesUsuarioServlet</display-name>
    <servlet-name>HabitacionesUsuarioServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.HabitacionesUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HabitacionesUsuarioServlet</servlet-name>
    <url-pattern>/HabitacionesUsuarioServlet</url-pattern>
  </servlet-mapping>
</web-app>